.is-navbar .personal-dashboard[data-v-a3e3e11c] {
  margin-top: 30px;
}
.personal-dashboard-v2 .dashboard-header[data-v-a3e3e11c] {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  padding: 30px;
}
.personal-dashboard-v2 .dashboard-header.has-margin-bottom[data-v-a3e3e11c] {
  margin-bottom: 1.5rem;
}
.personal-dashboard-v2 .dashboard-header.is-flat[data-v-a3e3e11c] {
  box-shadow: none;
}
.personal-dashboard-v2 .dashboard-header.is-raised[data-v-a3e3e11c] {
  box-shadow: var(--light-box-shadow);
}
.personal-dashboard-v2 .dashboard-header.is-primary[data-v-a3e3e11c] {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.personal-dashboard-v2 .dashboard-header.is-primary .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-primary .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-primary h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-primary h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-primary h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-primary h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-primary p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-header.is-secondary[data-v-a3e3e11c] {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.personal-dashboard-v2 .dashboard-header.is-secondary .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-secondary .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-secondary h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-secondary h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-secondary h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-secondary h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-secondary p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-header.is-info[data-v-a3e3e11c] {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.personal-dashboard-v2 .dashboard-header.is-info .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-info .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-info h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-info h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-info h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-info h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-info p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-header.is-success[data-v-a3e3e11c] {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.personal-dashboard-v2 .dashboard-header.is-success .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-success .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-success h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-success h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-success h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-success h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-success p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-header.is-warning[data-v-a3e3e11c] {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.personal-dashboard-v2 .dashboard-header.is-warning .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-warning .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-warning h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-warning h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-warning h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-warning h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-warning p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-header.is-danger[data-v-a3e3e11c] {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.personal-dashboard-v2 .dashboard-header.is-danger .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-danger .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-danger h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-danger h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-danger h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-danger h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header.is-danger p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-header .card-head[data-v-a3e3e11c] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-dashboard-v2 .dashboard-header .card-head .left[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header .card-head .right[data-v-a3e3e11c] {
  display: flex;
  align-items: center;
}
.personal-dashboard-v2 .dashboard-header .card-head .left .title[data-v-a3e3e11c] {
  font-size: 1.2rem;
  font-weight: 500;
}
.personal-dashboard-v2 .dashboard-header .card-head .right[data-v-a3e3e11c] {
  justify-content: flex-end;
}
.personal-dashboard-v2 .dashboard-header .card-inner[data-v-a3e3e11c] {
  padding-top: 1.75rem;
}
.personal-dashboard-v2 .dashboard-header .user-meta[data-v-a3e3e11c] {
  padding: 0 3rem;
  border-right: 1px solid var(--fade-grey-dark-3) h3;
  border-right-max-width: 180px;
}
.personal-dashboard-v2 .dashboard-header .user-action[data-v-a3e3e11c] {
  padding: 0 3rem;
}
.personal-dashboard-v2 .dashboard-header .cta[data-v-a3e3e11c] {
  position: relative;
  flex-grow: 2;
  max-width: 275px;
  margin-left: auto;
  background: var(--primary-light-8);
  padding: 20px;
  border-radius: var(--radius-large);
  box-shadow: var(--primary-box-shadow);
}
.personal-dashboard-v2 .dashboard-header .cta .lnil[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-header .cta .lnir[data-v-a3e3e11c] {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 4rem;
  opacity: 0.3;
}
.personal-dashboard-v2 .dashboard-header .cta .link[data-v-a3e3e11c] {
  font-family: var(--font-alt);
  display: block;
  font-weight: 500;
  margin-top: 0.5rem;
}
.personal-dashboard-v2 .dashboard-header .cta .link[data-v-a3e3e11c]:hover {
  color: var(--smoke-white);
  opacity: 0.6;
}
.personal-dashboard-v2 .dashboard-card[data-v-a3e3e11c] {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  padding: 30px;
}
.personal-dashboard-v2 .dashboard-card.has-margin-bottom[data-v-a3e3e11c] {
  margin-bottom: 1.5rem;
}
.personal-dashboard-v2 .dashboard-card.is-flat[data-v-a3e3e11c] {
  box-shadow: none;
}
.personal-dashboard-v2 .dashboard-card.is-raised[data-v-a3e3e11c] {
  box-shadow: var(--light-box-shadow);
}
.personal-dashboard-v2 .dashboard-card.is-primary[data-v-a3e3e11c] {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.personal-dashboard-v2 .dashboard-card.is-primary .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-primary .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-primary h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-primary h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-primary h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-primary h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-primary p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-card.is-secondary[data-v-a3e3e11c] {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.personal-dashboard-v2 .dashboard-card.is-secondary .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-secondary .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-secondary h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-secondary h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-secondary h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-secondary h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-secondary p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-card.is-info[data-v-a3e3e11c] {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.personal-dashboard-v2 .dashboard-card.is-info .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-info .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-info h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-info h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-info h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-info h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-info p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-card.is-success[data-v-a3e3e11c] {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.personal-dashboard-v2 .dashboard-card.is-success .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-success .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-success h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-success h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-success h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-success h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-success p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-card.is-warning[data-v-a3e3e11c] {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.personal-dashboard-v2 .dashboard-card.is-warning .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-warning .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-warning h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-warning h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-warning h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-warning h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-warning p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-card.is-danger[data-v-a3e3e11c] {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.personal-dashboard-v2 .dashboard-card.is-danger .title[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-danger .subtitle[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-danger h1[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-danger h2[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-danger h3[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-danger h4[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card.is-danger p[data-v-a3e3e11c] {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v2 .dashboard-card .card-head[data-v-a3e3e11c] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-dashboard-v2 .dashboard-card .card-head .left[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card .card-head .right[data-v-a3e3e11c] {
  display: flex;
  align-items: center;
}
.personal-dashboard-v2 .dashboard-card .card-head .left .title[data-v-a3e3e11c] {
  font-size: 1.2rem;
  font-weight: 500;
}
.personal-dashboard-v2 .dashboard-card .card-head .right[data-v-a3e3e11c] {
  justify-content: flex-end;
}
.personal-dashboard-v2 .dashboard-card .card-inner[data-v-a3e3e11c] {
  padding-top: 1.75rem;
}
.personal-dashboard-v2 .dashboard-card[data-v-a3e3e11c]:not(:last-child) {
  margin-bottom: 1.5rem;
}
.personal-dashboard-v2 .dashboard-card .card-head[data-v-a3e3e11c] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.personal-dashboard-v2 .dashboard-card .card-head h3[data-v-a3e3e11c] {
  font-family: var(--font-alt);
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-text);
  margin-bottom: 0;
}
.personal-dashboard-v2 .dashboard-card .active-projects[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card .active-team[data-v-a3e3e11c],
.personal-dashboard-v2 .dashboard-card .active-list[data-v-a3e3e11c] {
  padding: 10px 0;
}
.is-dark .personal-dashboard-v2 .dashboard-header[data-v-a3e3e11c],
.is-dark .personal-dashboard-v2 .dashboard-card[data-v-a3e3e11c] {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .personal-dashboard-v2 .dashboard-header .v-avatar img[data-v-a3e3e11c],
.is-dark .personal-dashboard-v2 .dashboard-card .v-avatar img[data-v-a3e3e11c] {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .personal-dashboard-v2 .dashboard-header .avatar-stack .v-avatar[data-v-a3e3e11c],
.is-dark .personal-dashboard-v2 .dashboard-card .avatar-stack .v-avatar[data-v-a3e3e11c] {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .personal-dashboard-v2 .dashboard-header .avatar-stack .v-avatar .avatar.is-more .inner[data-v-a3e3e11c],
.is-dark .personal-dashboard-v2 .dashboard-card .avatar-stack .v-avatar .avatar.is-more .inner[data-v-a3e3e11c] {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .personal-dashboard-v2 .home-header .cta[data-v-a3e3e11c] {
  background: var(--primary-light-2);
  box-shadow: var(--primary-box-shadow);
}
@media only screen and (max-width: 767px) {
.personal-dashboard-v2 .dashboard-header[data-v-a3e3e11c] {
    flex-direction: column;
    text-align: center;
}
.personal-dashboard-v2 .dashboard-header .v-avatar[data-v-a3e3e11c] {
    margin-bottom: 10px;
}
.personal-dashboard-v2 .dashboard-header .user-meta[data-v-a3e3e11c] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
.personal-dashboard-v2 .dashboard-header .user-action[data-v-a3e3e11c] {
    padding-bottom: 30px;
}
.personal-dashboard-v2 .dashboard-header .cta[data-v-a3e3e11c] {
    margin-left: 0;
}
.personal-dashboard-v2 .active-projects .media-flex-center .flex-end .avatar-stack[data-v-a3e3e11c] {
    display: none;
}
}